{% extends "base.html" %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-body p-4">
        <h3 class="mb-2">Delete Employee</h3>
        <p>
            Are you sure you want to delete
            <strong>{{ emp.full_name }}</strong> ({{ emp.employee_id }})?
        </p>

        <form method="post">{% csrf_token %}
            <button class="btn btn-danger">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'hr_employee_list' %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
